.cardVideo {
	width: 80%;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px
		1px 3px 1px;

	color: black;
	padding: 2em;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 768px) {
		padding: 1.5em;
	}
}

.containerText p {
	margin: 0.75em;
	@media screen and (max-width: 768px) {
		margin: 0.4em;
	}
}

span {
	text-decoration: underline;
}

.containerText {
	width: 90%;
}

h3 {
	font-size: 2rem;
	color: var(--color-text-button);
	text-align: start;
	margin: 0 0 0.6em 0;
	@media screen and (max-width: 768px) {
		font-size: 1.5em;
	}
}

p {
	font-size: 1.6em;
	@media screen and (max-width: 768px) {
		font-size: 1em;
	}
}
