#root {
	/* max-width: 1280px; */
	margin: 0 0;
	text-align: center;
}

.container {
	background-color: #f8c7d8;
	padding: 3em;
}

.card {
	/* border: 1px solid black; */
	padding: 2em;
	border-radius: 2em;
	background-color: white;
}

.container-video {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

h3 {
	font-size: 2em;
	border: 1px solid #faadc8;
	border-radius: 1em;
	width: 25%;
	padding: 0.30em;
	/* color: #f8c7d8; */
}

.card-video {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid #faadc8; */
	border-radius: 2em;
	padding: 1em;
	box-shadow: #faadc8 0px 5px 13px 0px;
}

p {
	text-align: left;
}

.container-text {
	margin: 2em;
}

span {
	text-decoration: underline;
	font-size: 2, 25em;
}

link:visited {
	text-decoration: none;
	color: black;
}

link {
	color: black;
}
